# Node Modules
node_modules/

# Environment Variables
.env

# Logs
logs
*.log
npm-debug.log*

# OS Files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Build files
dist/
build/

# Coverage
coverage/

# Cloudinary temporary files (if any)
uploads/

# Mac system files
.AppleDouble
.LSOverride

# Windows system files
ehthumbs.db